<a href="https://colab.research.google.com/github/TheDarkLord935/LetsUpgrade-Python-Essentials/blob/master/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List
 
 
 
lst= [1,2,3,"Aman","Hi Sai Sir"]
 
print("Created List:",lst)
 
lst.append([4,5,6])
#Adds a value at the end of the list
#Here [4,5,6] is a single value because it is a list
 
 
newlst=lst
 
print("Created A New List:", newlst,"\n")
 
lst.clear()
 
print("When List's value is cleared,", lst)
print("New List also looses it's values", newlst,"\n")

Created List: [1, 2, 3, 'Aman', 'Hi Sai Sir']
Created A New List: [1, 2, 3, 'Aman', 'Hi Sai Sir', [4, 5, 6]]

When List's value is cleared, []
New List also looses it's values []

In [ ]:
lst=[1,2,3,4,5,6]
 
newlst=lst.copy()
 
lst.clear()
 
print("This time when list is cleared,",lst)
print("New list retains it's value", newlst,"\n")

This time when list is cleared, []
New list retains it's value [1, 2, 3, 4, 5, 6]

In [ ]:
 lst=[1,2,456,"Aman",456,"Aman"]
lst.append(["Aman","Ahmed"])
 
print(lst,"\n")
 
x=lst.count("Aman")
 print(x)

[1, 2, 456, 'Aman', 456, 'Aman', ['Aman', 'Ahmed']]

2

In [ ]:
lst.extend(newlst)
 
print(lst)

[1, 2, 456, 'Aman', 456, 'Aman', ['Aman', 'Ahmed'], 1, 2, 3, 4, 5, 6]

In [ ]:
lst.remove("Aman")
print(lst,"\n\n")
 
lst.pop(3)
print(lst,"\n\n")
 
lst.pop(4)
print(lst,"\n\n")

[1, 2, 456, 456, 'Aman', ['Aman', 'Ahmed'], 1, 2, 3, 4, 5, 6]


[1, 2, 456, 'Aman', ['Aman', 'Ahmed'], 1, 2, 3, 4, 5, 6]


[1, 2, 456, 'Aman', 1, 2, 3, 4, 5, 6]

In [ ]:
lst.insert(4,"Ahmed")
print(lst,"/n/n")

[1, 2, 456, 'Aman', 'Ahmed', 1, 2, 3, 4, 5, 6] /n/n

In [ ]:
lst.reverse()
print(lst,"\n\n")

[6, 5, 4, 3, 2, 1, 'Ahmed', 'Aman', 456, 2, 1]

In [ ]:
print(newlst,"\n\n")
 
newlst.reverse()
print(newlst,"\n\n")
 
newlst.insert(3,9)
print(newlst,"\n\n")
 
newlst.remove(5)
print(newlst,"\n\n")
 
newlst.sort()
print(newlst,"\n\n")

[1, 2, 3, 4, 5, 6]


[6, 5, 4, 3, 2, 1]


[6, 5, 4, 9, 3, 2, 1]


[6, 4, 9, 3, 2, 1]


[1, 2, 3, 4, 6, 9]

In [21]:
#Dictionary




 
dit={'Name':'Aman','Age':'420','Number':'62910001920'}
dit.get("Name")

'Aman'

In [28]:
dit.update({"Type":"Meta Human"})
 
print(dit.keys(),"\n\n")
 
print(dit.items(),"\n\n")

dict_keys(['Name', 'age', 'Number', 'Type'])


dict_items([('Name', 'Aman'), ('age', '420'), ('Number', '62910001920'), ('Type', 'Meta Human')])

In [29]:
dit.pop("Type")

'Meta Human'

In [39]:
#Sets
 
st={90,52,3000, "Hello","Aman", "Sai Sir"}
print(st,"\n\n")
 
 
st1={"Hello", "Sai Sir", "LetsUpgrade", "RohiniV"}
 
print(st1.intersection(st),"\n\n")
 
print(st1.difference(st),"\n\n")
 
print(st.difference(st1),"\n\n")
 
print(st.issubset(st1),"\n\n")
 
st.update(st1)
print(st.difference(st1),"\n\n")
print(st1.issubset(st),"\n\n")

{'Sai Sir', 'Aman', 52, 3000, 90, 'Hello'}


{'Sai Sir', 'Hello'}


{'RohiniV', 'LetsUpgrade'}


{3000, 'Aman', 52, 90}


False


{3000, 'Aman', 52, 90}


True

In [40]:
#Tuple
 
 
tup=(1,2,99,"Aman","Thank You LetsUpgrade")
 
print(tup,"\n\n")
 
print(tup.count(99),"\n\n")
 
print(tup.index("Aman"),"\n\n")

(1, 2, 99, 'Aman', 'Thank You LetsUpgrade')


1


3

In [59]:
#String
 
 
 
str="Thank You LetsUpgrade."
print(str,"\n\n")
 
str1="Thank You Sai Sir."
print(str1,"\n\n")
 
newstr=str+str1
print(newstr,"\n\n")
 
newstr.center(10)
print(newstr,"\n\n")
 
print(newstr.endswith("."))
 
print(newstr.upper(),"\n\n")

Thank You LetsUpgrade.


Thank You Sai Sir.


Thank You LetsUpgrade.Thank You Sai Sir.


Thank You LetsUpgrade.Thank You Sai Sir.


True
THANK YOU LETSUPGRADE.THANK YOU SAI SIR.