<a href="https://colab.research.google.com/github/TheDarkLord935/LetsUpgrade-Python-Essentials/blob/master/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
for num in range(1,100):
    temp=num
    sum=0
    
    while temp>0:
        t=int (temp%10)
        sum=sum+ (t**3)
        temp=int (temp/10)
    
    if sum==num:
        print("The first Armstrong number in the given range is ",num)
        break

The first Armstrong number in the given range is  1

In [7]:
for num in range(100,200):
    temp=num
    sum=0
    
    while temp>0:
        t=int (temp%10)
        sum=sum+ (t**3)
        temp=int (temp/10)
    
    if sum==num:
        print("The first Armstrong number in the given range is ",num)
        break

The first Armstrong number in the given range is  153

In [9]:
 
for num in range(200,400):
    temp=num
    sum=0
    
    while temp>0:
        t=int (temp%10)
        sum=sum+ (t**3)
        temp=int (temp/10)
    
    if sum==num:
        print("The first Armstrong number in the given range is ",num)
        break

The first Armstrong number in the given range is  370

In [10]:
 
for num in range(371,400):
    temp=num
    sum=0
    
    while temp>0:
        t=int (temp%10)
        sum=sum+ (t**3)
        temp=int (temp/10)
    
    if sum==num:
        print("The first Armstrong number in the given range is ",num)
        break

The first Armstrong number in the given range is  371

In [12]:
 
 
print("The Armstrong numbers in the given range is ")
for num in range(1,400):
    temp=num
    sum=0
    
    while temp>0:
        t=int (temp%10)
        sum=sum+ (t**3)
        temp=int (temp/10)
    
    if sum==num:
        print(num)

The Armstrong numbers in the given range is
1
153
370
371

In [13]:
#The Range Given In The Question
#Cannot Be  Executed
#Due To Technical Difficulties
#(Less Ram= More Delay; Huge Range)